@import 'variables';
@import 'utils';
@import 'fonts';
@import 'theme';
@import 'customs';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*>* {
  transition: all 0.2s ease-in-out;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  background-image: url('../assets/Background.png');

  #root {
    min-height: 100vh;
    @include flex-center;
    @include inter-font;
  }
}

.link {
  @apply text-red-500;
}